[build]

  command = "pip install -r requirements.txt"

  publish = "."  # This tells Netlify to look in the root for index.html
 
[functions]

  directory = "netlify/functions"

  node_bundler = "esbuild"
 
[[redirects]]

  from = "/*"

  to = "/.netlify/functions/app"

  status = 200
 
